.sidebar-glass{
  min-height: 95vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.15)
  );
  border-radius: 2rem;
}

.web-face{
  min-height: 10rem;
}

.company-name{
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 10px 3px rgba(0,0,0,0.15);
  letter-spacing: 0.2rem;
}

.section-links{
  height: 3rem;
  font-size: 1.5rem;
}
.user-profile-img{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.space-div{
  height: 4rem;
}