.signUp-box{
    height: 27rem;
    width: 25rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}

.sign-btn{
    border-radius: 2rem !important;
    font-weight: 300 !important;
    background-color: #2A0944 !important;
}

.form-label{
    color: #2A0944;
}

input{
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.4) !important;
    border-radius: 2rem !important;
}