@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300;400;500;600;700;800;900&family=Shalimar&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

.mouse-rat{
  font-family: 'Montserrat', sans-serif !important;
}

input{
  font-family: 'Montserrat', sans-serif !important;
}

.abril{
  font-family: 'Abril Fatface', cursive;
}

.shalimar{
  font-family: 'Shalimar', cursive;
}

body{
  background-color: #542E71;
}

.text-default{
  color: #A799B7 !important;
}

.flexy{
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-glass{
  min-height: 95vh;
  min-width: 98vw;
  background-color: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5) !important;
  border-radius: 2rem !important;
  backdrop-filter: blur(2rem);
  /* -webkit-backdrop-filter: blur(5px); */
}

.banner{
  font-size: 4rem;
  font-family: 'Abril Fatface', cursive;
  line-height: 120%;
  color: #2A0944;
}

.scrollY{
  overflow-y: scroll;
  overflow-x: hidden;
}
.scrollX{
  overflow-x: scroll;
  overflow-y: hidden;
}
.scrollBoth{
  overflow-x: scroll;
  overflow-y: scroll;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d; 
}

.section-height{
  height: 550.712px;
}

.sidebar-link-text ,.fas{
  color: #FDCA40 !important;
  cursor: pointer;
}